<footer>
  <div class="container">
    <div class="row text-center">
      <div class="contact col">
        {:github <a href="https://github.com/ardumont">@ardumont</a><br />
        &nbsp;:twitter <a href="https://twitter.com/ardumont">@ardumont</a>}
      </div>
      <div class="meta col">
        <span class="timestamp">last modification date: Thu Nov  2 13:39:46 GMT 2017</span>
      </div>
      <div class="col">
        <a href="#">back to top</a>
      </div>
    </div>
  </div>
</footer>
