<header>
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <img class="logo" src="/images/org-trello-logo-light-blue-pastel-unicorn.200x200.png"/>
        <h1>
          <a href="/">Org Trello <span id="version">0.8.1</span></a>
        </h1>
      </div>

      <div class="col">
        <ul class="links list-unstyled">
          <div class="row">
            <div class="col col-md-auto">
              <li>
                <a href="https://github.com/org-trello/org-trello/zipball/master">Download zip</a>
              </li>
            </div>
            <div class="col col-md-auto">
              <li>
                <a href="https://github.com/org-trello/org-trello/tarball/master">Download tgz</a>
              </li>
            </div>
            <div class="col col-md-auto">
              <li>
                <a href="https://github.com/org-trello/org-trello"><span class="icon"></span>View on GitHub</a>
              </li>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</header>
