<header>
  <div class="container-fluid">
    <img class="logo" src="/images/org-trello-logo-light-blue-pastel-unicorn.200x200.png"/>
    <h1>
      <a href="/">Org Trello <span id="version">0.8.1</span></a>
    </h1>

    <ul class="links list-unstyled">
      <li>
        <a href="https://github.com/org-trello/org-trello/zipball/master">Download zip</a>
      </li>
      <li>
        <a href="https://github.com/org-trello/org-trello/tarball/master">Download tgz</a>
        </li>
      <li>
        <a href="https://github.com/org-trello/org-trello"><span class="icon"></span>View on GitHub</a>
      </li>
    </ul>
  </div>
</header>
