header {
  padding: 1rem;
  background: #333;

  .logo {
    vertical-align: top;
    max-width: 3rem;
    margin-right: 1rem;
  }

  h1 {
    display: inline-block;

    a {
      border: 0;
    }
  }

  .links {
    li {
      margin-top: 1rem;

      a {
        padding: 0.4rem;
        border-bottom: 2px solid #777;
        background: darken($org-trello-accent, 30);
        border-radius: 3px;

        &:hover {
          border-color: $org-trello-accent;
        }

        &:focus {
          font-weight: bold;
        }
      }
    }
  }

  #version {
    font-style: italic;
    color: #AAA;
    font-size: 1.5rem;
  }
}
