---
---

body {
  background: #444;
  color: #CCC;
}

$org-trello-accent: #b5e853;

h1, h2, h3 {
  color: $org-trello-accent;
}

h2 {
  padding: 1rem 0;
}

h3 {
  padding: 0.5rem 0;
}

h2 {
  font-weight: bold;
}

a {
  color: white;

  &:hover {
    color: white;
    text-decoration: none;
    color: $org-trello-accent;
    border-bottom:  2px solid $org-trello-accent;
  }
}

.nav {
  li {
    a {
      border-bottom: 2px solid transparent;
    }

    &.active a {
      color: $org-trello-accent;
      font-weight: bold;
    }
  }
}

pre {
  padding: 1rem;
}
