<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/syntax.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />
  </head>
  <body>
    {% include header.html %}
    <div class="container menu">
      <div class="row">
        {% include nav.html %}

        <div class="site col-lg-8 col-sm-8">
          {{ content }}
        </div>

        <div class="footer">
          <div class="contact">
            {:github <a href="https://github.com/ardumont">@ardumont</a><br />
            &nbsp;:twitter <a href="https://twitter.com/ardumont">@ardumont</a>}
          </div>
          <span style="text-align:center">last modification date: Thu Nov  2 13:39:46 GMT 2017</span>
          <div style="float:right">
            <a href="#">back to top</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
