<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>

    <!-- <\!-- syntax highlighting CSS -\-> -->
    <!-- <link rel="stylesheet" href="/stylesheets/syntax.css"> -->

    <!-- <\!-- Custom CSS -\-> -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" media="screen" />

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />
  </head>
  <body>
    <!-- header bar -->
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="nav navbar navbar nav navbar-left">
          <a href="/"><img style="width:23%" src="/images/org-trello-logo-light-blue-pastel-unicorn.200x200.png" /></a>
          <span class="version">0.3.9</span>
        </div>
        <div class="col-lg-4">
          <a href="/" class="navbar-brand">org-trello <small>:: org <$> trello</small></a>
        </div>
        <div class="nav navbar-nav navbar-right" style="margin-top: 10px">
          <a class="btn"            href="https://github.com/org-trello/org-trello/zipball/master">Download zip</a>
          <a class="btn"            href="https://github.com/org-trello/org-trello/tarball/master">Download tgz</a>
          <a class="btn btn-github" href="https://github.com/org-trello/org-trello"><span class="icon"></span>View on GitHub</a>
        </div>
      </div>
    </div>

    <!-- menu -->
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="col-lg-2 sidebar-wrapper">
          <ul class="nav nav-pills nav-stacked">
            <li><a id="about"     style="text-align:left" href="/">About</a></li>
            <li><a id="demo"      style="text-align:left" href="/demo.html">Demo</a></li>
            <li><a id="install"   style="text-align:left" href="/install.html">Standard Install</a></li>
            <li><a id="setup"     style="text-align:left" href="/trello-setup.html">Org-trello Setup</a></li>
            <li><a id="migration" style="text-align:left" href="/migration.html">Migration</a></li>
            <li><a id="bindings"  style="text-align:left" href="/bindings.html">Bindings</a></li>
            <li><a id="usage"     style="text-align:left" href="/usage.html">Usage</a></li>
            <li><a id="webadmin"  style="text-align:left" href="/web-admin.html">Web admin server</a></li>
            <li><a id="downloads" style="text-align:left" href="/downloads.html">Downloads</a></li>
            <li><a id="license"   style="text-align:left" href="/license.html">License</a></li>
          </ul>
        </div>
      </div>

      <div class="site">

        {{ content }}

        <div class="footer">
          <div class="contact">
            <p>
              {:github  <a href="https://github.com/ardumont">@ardumont</a><br />
               :twitter <a href="https://twitter.com/ardumont">@ardumont</a>}
            </p>
          </div>
          <span style="text-align:center">last modification date: 03/29/2014</span>
          <div style="float:right">
            <a href="#">back to top</a>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/javascripts/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
