<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>

    <!-- <\!-- syntax highlighting CSS -\-> -->
    <!-- <link rel="stylesheet" href="/stylesheets/syntax.css"> -->

    <!-- <\!-- Custom CSS -\-> -->
    <link rel="stylesheet" href="/stylesheets/main.css">

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />

  </head>
  <body>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <a href="/"><img style="width:30%" src="/images/org-mode-unicorn-through-trello-window.second-tryout.png"></a>
            <!-- <a href="/"><img style="width:30%" src="/images/org-unicorn-through-trello.png"></a> -->
            <!-- <a href="/"><img style="width:30%" src="/images/logo-org-trello-tatoo.png"></a> -->
            <!-- <li class="header"><a href="/">{{ site.name }}</a></li> -->
            <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
          </ul>
          <ul class="nav navbar-nav">
            <li><a href="/demo.html">Demo</a></li>
            <li><a href="/install.html">Install</a></li>
            <li><a href="/trello-setup.html">Setup</a></li>
            <li><a href="/bindings.html">Bindings</a></li>
            <li><a href="/usage.html">Usage</a></li>
            <li><a href="/downloads.html">Downloads</a></li>
            <li><a href="/contributions.html">Contrib</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right" style="padding-top: 5px">
            <a href="https://github.com/org-trello/org-trello/zipball/master" class="btn">Download zip</a>
            <a href="https://github.com/org-trello/org-trello/tarball/master" class="btn">Download tgz</a>
            <a href="https://github.com/org-trello/org-trello" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
          </ul>
        </div>
      </div>
    </nav>

    <div class="site" style="padding-top:5px">

      {{ content }}

      <div class="footer">
        <div class="contact">
          <p>
            {:github  <a href="https://github.com/ardumont">@ardumont</a><br />
            :twitter <a href="https://twitter.com/ardumont">@ardumont</a>}
          </p>
        </div>
        <div style="float:right">
          <a href="#">back to top</a>
        </div>
      </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/javascripts/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
